.card{
    background-color: #DEE7E7;
    color:#004557;    width: 20rem;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
    
}
.btnDelete{
  color:#004557;
  background-color: #DEE7E7;
  cursor: pointer;
  border:1px solid #004557;
  border-radius: 5px;
  padding:10px;
  transition:all  0.4s ease-in-out;
  /* #0C5E58 */
}
.btnDelete:hover{
  color:#DEE7E7;
  background-color: #0C5E58;
  cursor: pointer;
  border:1px solid #004557;
  border-radius: 5px;
  padding:10px;
  transition:all  0.4s ease-in-out;
  /* #0C5E58 */
}


.btnAction{
  color:#DEE7E7;
  background-color: #0C5E58;
  cursor: pointer;
  border:1px solid #004557;
  border-radius: 5px;
  padding:10px;
  transition:all  0.4s ease-in-out;
  /* #0C5E58 */
}
.btnAction:hover{
  color:#004557;
  background-color: #DEE7E7;
  cursor: pointer;
  border:1px solid #004557;
  border-radius: 5px;
  padding:10px;
  transition:all  0.4s ease-in-out;
}
.cardBody{
    cursor: pointer;
    transition:all  0.4s ease-in-out;
    
  }
  
  .cardBody:hover {

    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
  }